<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/css.css" type="text/css">
<div class="footer">
<img class="footerlogo" src="/uploads/logocut.png" alt="Surreal Succulents" href="home.html">


<div class="footeraddresstremenheere">
    <h4>Surreal Succulents Outlet</h4>
    Tremenheere Nursery,<br>
    Tremenheere Sculpture Gardens<br>
    Gulval<br>
    TR20 8YL
</div>
    <div class="footeraddressonline">
<h4>Surreal Succulents Online</h4>
info@surrealsucculents.co.uk<br>
07548 010 897<br>
Line Open: Monday-Friday <br>9am – 5pm.
</div>
<div class="socialfooter">
    <a href="https://www.facebook.com/surreal"><img src ="/uploads/facebook.jpg" alt="Facebook" title="Facebook" Class="social"></a>
    <a href="https://www.instagram.com/surreal_succulents/?hl=en"><img src ="/uploads/instagram.png" alt="Facebook" title="Facebook" Class="social"></a>
</div>
</div>
