<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/css.css" type="text/css">
<div class="footer">
<img style="margin:10px;" width="100px"src="/uploads/logocut.png" alt="Surreal Succulents" href="home.html">


<div class="footeraddresstremenheere">
    <h4>Surreal Succulents Retail Outlet</h4><br>
    Tremenheere Nursery,<br>
    Tremenheere Sculpture Gardens<br>
    Gulval<br>
    TR20 8YL<br>
</div>
    <div class="footeraddressonline">
<h4>Surreal Succulents Online</h4><br>
info@surrealsucculents.co.uk<br>
07548 010 897  – Mon-Fri, 9am – 5pm.<br>
</div>
<div class="socialfooter"></div>
</div>

