<!DOCTYPE html>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<script src="/js/scripts.js"></script>
<link rel="stylesheet" href="/css/css.css" type="text/css">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YmU4ODA5YjItZDc2MC00NWNlLWJkZTYtNmNlYWZhMWRmYThkNjM3NDM5MjMwMzc5NDk3NjYy" hidden></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-color:white;">


<div id="main" class="headerdiv">

  <button class="openbtn" onclick="openNav()">☰</button>
  <img class="headerlogo" src="/images/logocut.png" alt="Surreal Succulents" href="home.html">
  <form class="searchbar" action="action_page.php">
  <button type="submit"><i class="fa fa-search"></i></button>
  <input type="text" placeholder="Search.." name="search">

  </form>

  <div style="float: right;">
    <button class="navbutton">About</button>
    <button class="navbutton">Advice</button>
    <button class="navbutton">Contact</button>
    <button style="margin-left:10px;" class="snipcart-checkout openbtn"><i class="fa fa-shopping-basket"></i></button>

  </div>
</div>


</div>
</div>
