<link rel="stylesheet" href="/css/css.css" type="text/css">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YmU4ODA5YjItZDc2MC00NWNlLWJkZTYtNmNlYWZhMWRmYThkNjM3NDM5MjMwMzc5NDk3NjYy" hidden></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-color:#646464;">
<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Shop</button>
</div>

<div style="float: right;">
  <button class="snipcart-checkout" style="font-size: 24px;">Basket <i class="fa fa-shopping-basket"></i></button>
</div>
<div class="header1" id="headerDiv" style="text-align: center;margin-left:auto; margin-right:auto; display: inline-block;color: white; vertical-align: middle;">
<img style="animation: rotation 2s; float: center;"Height="75px" width="75px"src="/images/logocut.png" alt="Surreal Succulents" href="home.html">
<h4>Surreal Succulents</h4>
</div>



</div>
</div><br><br><br><br><br>
