<link rel="stylesheet" href="/css/css.css" type="text/css">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YmU4ODA5YjItZDc2MC00NWNlLWJkZTYtNmNlYWZhMWRmYThkNjM3NDM5MjMwMzc5NDk3NjYy" hidden></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-color:#9aa0a7;">
<h1>Surreal Succulents</h1>
<div style="float: right;">
  <button class="snipcart-checkout" style="font-size: 24px;">Basket <i class="fa fa-shopping-basket"></i></button>
</div>
</div>

<div class="nav1">
