
<div style ="width:250px;" class="sidenav">
  <img style="float:center; padding-left:7px;" Height="100px" width="100px"src="/images/logocut.png" alt="Surreal Succulents" href="home.html">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main}}
    {{ if .HasChildren }}
    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
  <a href="{{.URL}}">{{.Title}}</a>
  <ul class="sub-menu">
    <span style="color:black;">{{ .Name }}</span>
            <ul class="sub-menu">
                      {{ range .Children }}
                          <li class="{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}">
                              <a href="/shop/{{ .URL }}">{{ .Name }}</a>
                          </li>
                      {{ end }}
                  </ul>
                  {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    </li>
                {{ end }}
            {{ end }}


</div>
