<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/css.css" type="text/css">
</head>
<body>

  {{ $currentPage := . }}
  {{ range .Site.Menus.main}}
    {{ if .HasChildren }}
<div id="mySidebar" class="sidebar">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
{{ range .Children }}

  <a href="{{ .URL |relURL }}" class="sidelinks">{{ .Name }}</a>





  <div>

  </div>
{{ end }}
</div>
{{ end }}
{{ end }}

</body>



</html>
