<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="/js/scripts.js"></script>
<link rel="stylesheet" href="/css/css.css" type="text/css">

<div style ="width:250px;" class="sidenav">
  <img style="float:center; padding-left:7px; padding-bottom:10px;" Height="100px" width="100px"src="/images/logocut.png" alt="Surreal Succulents" href="home.html">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main}}
    {{ if .HasChildren }}
    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
    <a href="{{ .URL }}">{{ .Name }}</a>
        <div class="dropdown">

            <ul class="sub-menu">
                      {{ range .Children }}
                      <div id="myDropdown" class="">

                        <span>
                              <a href="/shop/{{ .URL }}">{{ .Name }}</a>
                              </span>
                          </li>
                        </div>
                      {{ end }}
                  </ul>

                </div>





                  {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>


                {{ end }}
            {{ end }}


</div>
<body>

</body>
</html>
