#orderhead{
  width:100% !important;

}
#orderhead span{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#wrapper button, input {
  margin-left: auto;
  margin-right: auto;
  display:block;
}
#wrapper div {
  background-color: lightgrey;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  height:40vw;
  max-height: 250px;
  vertical-align: top;
  font-size:calc(5px + 1vw);
  padding:10px;
}
#solditems{
  width: 100% !important;
  height:20px !important;
  display:flex !important;
}
#apidata {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
#apiheadings {
  width:100%;
  color: grey;
  font-size: 15px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid grey !important;
  border-left: none !important;
}
#invoicenumber {
  color:blue !important;
}
#apidata div {
  padding:10px;
  text-align:center;
  color:grey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
#orderbillingaddress {
  text-align: left !important;
}
#apihead {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
#orderhead {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:100%;
  text-align: center;
  background-color: grey !important;
  color:white;
  height:100px !important;
}
.apisearchform {
  display: inline;
  white-space: nowrap;
  width:10%;
}
#soldproducts {
  width:100% !important;
  background-color: grey !important;
  color:white;
  height: 50px !important;

}

#solditems {
  color:black !important;
  height: 100px !important;
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

}
#soldproducts div {
  height:auto !important;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width:100% !important;
}
