#wrapper {
  margin-left: auto;
  margin-right: auto;
  display:block;

}
#wrapper button, input {
  margin-left: auto;
  margin-right: auto;
  display:block;
}
#apidata {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
#apiheadings {
  width:100%;
  color: grey;
  font-size: 15px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid grey !important;
  border-left: none !important;
}
#invoicenumber {
  color:blue !important;
}
#apidata div {
  padding:10px;
  text-align:center;
  color:grey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
#orderbillingaddress {
  text-align: left !important;
}
#apihead {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
#orderhead {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:100%;
  text-align: center;
}
.apisearchform {
  display: inline;
  white-space: nowrap;
  width:10%;
}
