.footer {
  width:100%;
  bottom:-14vw;;
  background-color: #5987D9;
  height:12vw;
  border-top:4px solid rgb(13, 62, 68);
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;

}
.footeraddresstremenheere {
  overflow: hidden;
  font-size: 0.7vw;
  margin-left:10%;
  font-size:calc(5px + 0.7vw);
}
.footeraddressonline {

  font-size:calc(5px + 0.7vw);
  margin-left:10%;
}
.footeraddresstremenheere h4{
  overflow: hidden;
  font-size: 1vw;
}
.footeraddressonline h4{

  font-size: 1vw;

}
.socialfooter {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;

}
.socialfooter img{
  border-radius: 30px;
  width:6vw;
  margin-left:1vw;
  margin-right:1vw;
}
.socialfooter {
  width: auto;
}
.footerlogo {
  display: block;
  width:6vw;
  margin:auto;
}
