
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jqueryorders.js"></script>
    <link rel="stylesheet" href="/css/apiorders.css" type="text/css">
    <link rel="stylesheet" href="/css/apiorderprint.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>API</title>
  </head>
  <body>


    <h1>Display Orders</h1>
    <form class="form-inline">
    From:<input class="form-control" type="text" name="Offset" value="0" id="offsetinput">
    To:<input class="form-control" type="text" name="Limit" value="50" id="limitinput">
    Status:<select class="form-control" name="Status" id="statusinput">
           <option value =""></option>
           <option value ="InProgress">In progress</option>
           <option value ="Processed">Processed</option>
           <option value ="Disputed">Disputed</option>
           <option value ="Shipped">Shipped</option>
           <option value ="Delivered">Delivered</option>
           <option value ="Pending">Pending</option>
           <option value ="Cancelled">Cancelled</option>
         </select>
    Invoice Number:<input class="form-control" type="text" name="Invoice Number" id="invoicenumberinput">
    Name:<input class="form-control" type="text" name="Name" id="nameinput">

    <button type="button" id="executeButton" name="button"><span id="executespan"></span></button>
  </form>
<div id="wrapper">
  </div>
<div id="apidata">
  </div>
<div id="printPDF" hidden>
</div>
<div id="printPicking" hidden>
  <div id='printItems'><table id ='pickingListTable'><tr><th>SKU</th><th>Name</th><th>Quantity</th></table></div>
</div>
  </body>
</html>
