{{ if isset .Params "product" }}
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YmU4ODA5YjItZDc2MC00NWNlLWJkZTYtNmNlYWZhMWRmYThkNjM3NDM5MjMwMzc5NDk3NjYy" hidden></div>
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
  </head>
  <body id="bodyId" style="padding-left: 250px;">
    <div>
    {{ partial "sidebar" . }}
  </div>
  <div>
    {{ partial "header" . }}
</div>

    <h3>List product</h3><br>
    {{ range $i, $r := getCSV "," "resources/_gen/assets/products.csv" }}
    {{ if eq $.Params.id (index $r 0) }}
    <div style="margin-left: 120px; font-size: 20px;">
      <h1> {{ index $r 2 }} </h1>
      <h2>SKU: {{ index $r 1 }} </h2>
          <span> ID: {{ index $r 0 }}</span><br>
          <span> Stock: {{ index $r 3 }}</span>
      </div>
</div>

</div>
{{ end }}
{{ end }}

  </body>
</html>
{{ else }}
<html lang="en" dir="ltr">
  <head>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css">
  </head>
  <body id="bodyId">
    {{ partial "sidebar1" . }}
    {{ partial "header" . }}
    <h3>List no product</h3><br>
    <h1>{{ .Title }}</h1>
    <div class="listlinks">
    {{ .Content }}
    {{ range .Pages }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
    </div>

    {{ partial "footer" . }}
  </body>

</html>
  {{ end }}
