{{ if isset .Params "productlist" }}
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="ZWMzMTFmOGQtNmZlOC00Y2ExLWI2MGYtYTEwNTIxNmMxMDE4NjM3NDk4NzUzOTg5NjEwOTU3" hidden></div>
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head >
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/categorylist.css" type="text/css">
    <link rel="stylesheet" href="/css/body.css" type="text/css">
    <link rel="stylesheet" href="/css/categorylist.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/gallerycss.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/productlist.css" type="text/css">
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css">


  </head>


  <body id="bodyId">


    {{ partial "header" . }}
    <h1 class="pagetitles">{{ .Title }}</h1>
    <div class="shopheading">

      {{ .Content }}
    </div>
    <div class="listing">
      {{ range .Pages }}

    <div class="categorylistproduct">
      {{ with .Params.display_image }}<img src="{{ . }}" class="listproductimg">{{ end }}

      <a class="categorytitle"><h4>{{ .Title }}</h4></a>

      {{ with .Params.description }}<a class="line-clamp listproductdescription">{{ . }}</a>{{ end }}
      {{ with .Params.price }} <a class="listproductprice">From <br>£{{ . }}</a>{{ end }}
      <button class="snipcart-add-item addtobasketlist"
        {{with .Params.id }}data-item-id="{{ . }}"{{end}}
        {{with .Params.price }}data-item-price="{{ . }}"{{ end }}
        data-item-url="{{ $.Permalink }}"
        data-item-image="{{ $.Params.display_image }}"
        {{with .Params.title}}data-item-name="{{.}}"{{end}}
        data-item-custom1-name="SKU"
        data-item-custom1-type="SKU"
        data-item-custom1-value="{{ $.Params.sku }}"
          {{with .Params.options }}data-item-custom1-options="{{.}}"{{end}}>
        +
      </button>

    </div>

    {{ end }}
    </div>
    {{ partial "footer" . }}
  </body>

</html>
{{else}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/body.css" type="text/css">
    <link rel="stylesheet" href="/css/categorylist.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/gallerycss.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/productlist.css" type="text/css">
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css">
  </head>


  <body id="bodyId">



    <h1 class="pagetitles">{{ .Title }}</h1>
    <div class="shopheading">

    </div>

    <div class="listing">
      {{ range .Pages }}

    <div class="listproduct " style="cursor: pointer;">
        {{ with .Params.display_image }}<img src="{{ . }}" class="listproductimg">{{ end }}

    </div>
    {{ end }}
    </div>
  </body>
{{ end }}
{{ partial "footer" . }}
</html>
