{{ if isset .Params "product" }}
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YmU4ODA5YjItZDc2MC00NWNlLWJkZTYtNmNlYWZhMWRmYThkNjM3NDM5MjMwMzc5NDk3NjYy" hidden></div>
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    {{ partial "header" . }}
    {{ partial "sidebar" . }}
  </head>

  <body id="bodyId" style="padding-left: 250px;">
    <div id="opaque" class="opaque">

  <div>

</div>

    <h3>List product</h3><br>
    {{ range $i, $r := getCSV "," "resources/_gen/assets/products.csv" }}
    {{ if eq $.Params.id (index $r 0) }}
    <div style="margin-left: 120px; font-size: 20px;">
      <h1> {{ index $r 2 }} </h1>
      <h2>SKU: {{ index $r 1 }} </h2>
          <span> ID: {{ index $r 0 }}</span><br>
          <span> Stock: {{ index $r 3 }}</span>
      </div>

{{ end }}
{{ end }}
</div>
  </body>
</html>
{{ else }}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    {{ partial "sidebar" . }}
    <style>
      img {display: block; }
        img  {margin-left: auto; }
        img  {margin-right: auto;}
        img  {width: 30%};
    </style>
  </head>


  <body id="bodyId">


    {{ partial "header" . }}
    <h1 class="pagetitles">{{ .Title }}</h1>
    <div class="shopheading">

      {{ .Content }}
    </div>

    <div class="listing">
      {{ range .Pages }}

    <div class="listproduct " onclick="location.href={{ .URL }};" style="cursor: pointer;">
        {{ with .Params.display_image }}<img src="{{ . }}" class="listproductimg">{{ end }}
        <li>
        <a href="{{ .URL }}" class="listproductname">{{ .Title }}</a><br>
        {{ with .Params.description }}<a class="line-clamp listproductdescription">{{ . }}</a>{{ end }}
        {{ with .Params.price }} <a class="listproductprice">£{{ . }}</a>{{ end }}
      </li>
    </div>

    {{ end }}
    </div>
  </body>
{{ end }}
</html>
