{{ if ($.Scratch.Get "photoswipeloaded") }}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/js/load-photoswipe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
{{ end }}
{{ if isset .Params "product" }}

<!DOCTYPE html>
{{ partial "sidebar" . }}
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/css.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
  </head>
{{ .Content }}
  <body id="bodyId">
    {{ partial "header" . }}



    <div class="producthead">
    <img id="displayImage" class="displayimage" src="{{ $.Params.display_image }}">
      </div>
      <div class="secondmediadiv">


      <div class="secondarymedia">
        {{range  $.Params.media }}
        <img height="100%" width="300px" id="secondarymedia" src="{{ . }}">
        {{ end }}
      </div>
</div>



    <div style="font-size: 20px;">
          <h1> {{ $.Params.title }} </h1>
          <span> SKU: {{ $.Params.sku }} </span><br>
          <span> Stock: {{ $.Params.stock }}</span>
      </div><br>
      <button class="snipcart-add-item"
        data-item-id="{{ $.Permalink }}"
        data-item-price="0"
        data-item-url="{{ $.Permalink }}"
        data-item-image="{{ $.Params.display_image }}"
        data-item-name="{{ $.Params.title }}">
        Add to cart
      </button>
      <div class="description">

      </div>
      <div class="details">
<span>Hardiness: {{ $.Params.hardiness }}</span><br>
<span>Light Aspect: {{ range $.Params.light_aspect }}</span>
{{ . }}<br>
{{ end}}
<span>Planting Location: {{ range $.Params.planting_location }}</span>
{{ . }}
{{ end }}
<br>
<span>Mature Size: {{ $.Params.mature_size }}</span><br>
<span>Colours: {{ range $.Params.colour }}</span>
{{ . }}
{{ end }}
<br>

<span>Growth Form: {{ range $.Params.growth_form }}</span>
{{ . }}
{{ end }}
<br>
</div>

{{ end }}

  </body>
</html>
