

<!DOCTYPE html>

<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/body.css" type="text/css">
    <link rel="stylesheet" href="/css/categorylist.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/gallerycss.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/productlist.css" type="text/css">
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="/css/gallerycss.css" type="text/css">
<script type="text/javascript">
  function myFunction(imgs) {
    // Get the expanded image
    var expandImg = document.getElementById("expandedImg");
    // Get the image text
    var imgText = document.getElementById("imgtext");
    // Use the same src in the expanded image as the image being clicked on from the grid
    expandImg.src = imgs.src;
    // Use the value of the alt attribute of the clickable image as text inside the expanded image
    imgText.innerHTML = imgs.alt;
    // Show the container element (hidden with CSS)
    expandImg.parentElement.style.display = "block";
  }
</script>
  </head>
  <body id="bodyId">
    {{ partial "header" . }}

<!-- Gallery -->
<div class="productgrid" id="productgrid">
    <div class="producthead">
      <div class="container">

        <!-- Expanded image -->
        <img src="{{ $.Params.display_image }}" class="displayimage" id="expandedImg" style="width:100%;" >

        <!-- Image text -->

      </div>

          <div class="row">
            <div class="secondarypics">
            <div class="column">
              {{ with $.Params.display_image }}<img src="{{ . }}" alt="Nature" onclick="myFunction(this);">{{ end }}
            </div>

            <div class="column">
              {{ with $.Params.image1 }}<img src="{{ . }}" alt="{{ $.Params.title }}" onclick="myFunction(this);">{{ end }}
            </div>
            {{ with $.Params.image2 }}<div class="column">
              <img src="{{ . }}" alt="{{ $.Params.title }}" onclick="myFunction(this);">
            </div>{{ end }}
            {{ with $.Params.image3 }}<div class="column">
              <img src="{{ . }}" alt="{{ $.Params.title }}" onclick="myFunction(this);">
            </div>{{ end }}
      {{ with $.Params.image4 }}      <div class="column">
              <img src="{{ . }}" alt="{{ $.Params.title }}" onclick="myFunction(this);">
            </div>{{ end }}
            {{ with $.Params.image5 }}      <div class="column">
              <img src="{{ . }}" alt="{{ $.Params.title }}" onclick="myFunction(this);">
            </div>{{ end }}
          </div>

        </div>

      </div>


<!-- product information -->

    <div>
        <div class="productinformation">
          <h1> {{ $.Params.title }} </h1>
          <p>{{$.Params.description}}</p>
          </div>
        </div>
        <div class="skudiv">
          <span class="productsku"> SKU: {{ $.Params.sku }} </span><br>
        </div>
          <div class="productinformation2">

          <span class="stocknumbers">{{ $.Params.stock }} in stock</span><br>
          <span class="priceonpage">£{{ $.Params.price}}</span><br>
      <button class="snipcart-add-item addtocart"
        data-item-id="{{ $.Permalink }}"
        data-item-price="{{ $.Params.price }}"
        data-item-url="{{ $.Permalink }}"
        data-item-image="{{ $.Params.display_image }}"
        data-item-name="{{ $.Params.title }}"
        data-item-custom1-name="SKU"
        data-item-custom1-type="SKU"
        data-item-custom1-value="{{ $.Params.sku }}">
        Add to cart
      </button>
      </div>
    </div>

</div>
      <div class="additionalinformation">
      <div class="trafficlightdiv"> Hardiness Zone
        <img class="trafficlight" src="/uploads/trafficlights/{{$.Params.hardiness}}.jpg">
      </div>
      <div class="lightaspectdiv"> <div style="margin-bottom:20px;"><span>Light Aspect</span></div>

        {{ range $.Params.light_aspect }}

        <img width="150px" src="/uploads/{{ . }}.jpg" title="{{ . }}">

        {{ end }}
      </div>
      <div class="plantinglocationdiv"> <div style="margin-bottom:20px;"><span>Planting Location</span></div>
{{ range $.Params.planting_location }}<img src="/uploads/{{ . }}.jpg" title="{{ . }}">
{{ end }}
</div>
<div class="maturesizediv">Mature Size<br>
<div class="divgap"><span> {{ $.Params.mature_size }}</span></div><br>
</div>
<div class="coloursdiv"> Colours<br>
  {{ range $.Params.colour }}<img style="border-radius:50px;" src="/uploads/colours/{{ . }}.jpg" title="{{ . }}">{{ end }}
</div>

<div class="growthformdiv"> Growth Form <div style="margin-bottom: 20%;"></div>
<span style="font-size: 2vw; font-family: impact;">{{ range $.Params.growth_form }} {{ . }}<br> {{ end }}</span>

<br>
</div>
</div>




  </body>
  {{ partial "footer" . }}
</html>
